usuario{
.content-center{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
	background-color: #efefef !important;
	margin: .5em;
	max-width: 11em !important;
}

.content-icons{
	font-size:100px;
	color: #f25e1a;
}	

.content-button{
	width:20em;	
	background-color: #f25e1a;
}

.content-button2{
	width:10em;	
}

.content-center-buttons{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding-top:1em;
}

.institution{
	color: map-get($colors, danger);
}

.row{
	justify-content: center;
}
}