<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Inicio</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <!-- <ion-fab right bottom>
        <button ion-fab color="warning" (click)="gotToOtherPage()">
            <ion-icon name="alert"></ion-icon>
        </button>
    </ion-fab> -->
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <h1 ion-text text-center color="primary" no-margin>Bienvendido a iEmergencias</h1>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <h3 ion-text color="danger" no-margin text-center>{{content}}</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="base64Image === undefined">
        <ion-row content-center>
            <ion-col col-6 class="content-center">
                <ion-icon ios="ios-flame" md="md-flame" class="content-icons"></ion-icon>
                <div class="institution">Bomberos</div>
            </ion-col>
            <ion-col col-6 class="content-center">
                <ion-icon ios="ios-pulse" md="md-pulse" class="content-icons"></ion-icon>
                <div class="institution">Ambulancia</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 class="content-center">
                <ion-icon ios="ios-people" md="md-people" class="content-icons"></ion-icon>
                <div class="institution">Defensa Civil</div>
            </ion-col>
            <ion-col col-6 class="content-center">
                <ion-icon ios="ios-rose" md="md-rose" class="content-icons"></ion-icon>
                <div class="institution">Policia</div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="content-center" *ngIf="show">
        <img src="{{base64Image}}" alt="" *ngIf="base64Image !== undefined">
    </div>
    <div class="content-center-buttons">
        <button ion-button (click)="presentActionSheet()" *ngIf="!show" class="content-button">Tomar foto</button>
        <button ion-button (click)="enviarNotificacion()" class="content-button2">Enviar</button>
    </div>
</ion-content>