<ion-content padding>
  <img src="assets/imgs/logo_iemergencia.png" width="370" height="100" alt="logo">
  <ion-list no-margin>
    <p id="ingreso">
      INGRESA
    </p>
    <div class="inputs-login">
      <div class="user-input" margin-bottom>
        <ion-icon class="figure-person" name="person"></ion-icon>
        <ion-item>
          <ion-input type="text" placeholder="Usuario" [(ngModel)]="usuarios.documentNumber" auto-complete required></ion-input>
        </ion-item>
      </div>
      <div class="user-input" margin-bottom>
        <ion-icon name="lock" class="figure-lock"></ion-icon>
        <ion-item>
          <ion-input type="password" placeholder="Contraseña" [(ngModel)]="usuarios.password" auto-complete required></ion-input>
        </ion-item>
      </div>
    </div>
  </ion-list>
  <button [ngStyle]="{'min-width' : plt.is('ios') ? '20.8em' : '22.6em'}" id="buttonLogin" ion-button (click)="login()">Ingresar</button>   
  <div class="bottom-login">
      iEmergencia 2018 ©
  </div>
</ion-content>
