page-home{
    #ingreso {
        text-align: center;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
    }
    
    #ingreso1 {
        text-align: center;
        font-size: 24px;       
        color: #fff;
        font-weight: bold;
    }

    .welcome{
        font-weight: normal !important;
    }
    
    #buttonLogin {
        background-color: #fb8c00;  
        margin: 0 !important;
        font-weight: bold;
    }

    .button-ios {
        width: 10.6em !important;
    }

    .scroll-content{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        background-color: #90caf9;  
    }

    .inputs-login ion-item.item-md,
    .inputs-login ion-item.item-ios{
        min-width: 17em;
        padding-left: 0;  
        background-color: #42a5f5;  
    }

    .item-md,
    .item-ios{
        background-color: transparent;
    }

    ion-input{
        color: #fff;
        ::placeholder{
            color: #fff !important;
        }
    }

    .user-input{
        display: flex;
    }

    .figure-person, .figure-lock{
        padding: 15px 15px;         
        font-size:20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #42a5f5;
    }

    img{
        max-width: inherit;
    }

    .bottom-login{
        position: absolute;
        bottom: 0;
        color: #fff;
        font-size: 15px;  
        padding: 1em 0;
        background-color: #42a5f5;
        width: 100%;
        text-align: center;  
        font-weight: bold;     
    }
}
