<ion-menu [content]="content" *ngIf="isAuthenticated()">
    <ion-header>
        <ion-toolbar color="primary">
            <img src="assets/imgs/logo_iemergencia.png" alt="logo" height="50" width="200" class="img-logo">
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item (click)="openPage('usuarioComponent')">
        Inicio
      </button>
            <button menuClose ion-item (click)="openPage('articulosComponent')">
        Noticias
      </button>
            <button menuClose ion-item (click)="openPage('ListPage')">
        Historial
      </button>
            <button ion-item detail-none (click)="salir()">
        Salir
      </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>