<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Noticias</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <ion-card *ngFor="let p of posts">
    <ion-card-header>
      {{p.title}}
    </ion-card-header>
    <ion-card-content>
      {{p.body}}
    </ion-card-content>
 </ion-card> -->
 <ion-card>
    <ion-card-header>
      iEmergencias
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nesciunt, magnam neque aspernatur odio, modi ab vel eveniet tempore totam minus nisi quisquam odit doloribus ducimus accusamus eaque! Consequatur, eius.
    </ion-card-content>
 </ion-card>
</ion-content>
